# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Output of 'npm pack'
*.tgz

# Map files from webpack dev mode
*.map

# Production files
dist/

# Secret files
secrets.*
